@import "tailwindcss";

html, body, * {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    overflow: -moz-scrollbars-none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
display: none;
}